<!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-sm-6">

                <div class="footer-info">
                  <img src="images/logo.png" alt="" class="img-fluid">
                  <p>Internal is the emotional nervous system of organizations - A network of emotional tracking and
                    sentiment intelligence tools, created to eradicate professional agony and promote innovation through
                    empathy, transparency, and acceptance.</p>
                </div>

                <div class="footer-newsletter">
                  <h4>Get Access</h4>
                  <p>Request access to managerial features here before we make them available to the general public. </p>
                  <form action="/" name="Access" method="POST" data-netlify="true">
                    <input type="email" name="email" placeholder="Email"><input type="submit" value="Submit">
                  </form>
                </div>

              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                    <li><a href="#benefits">Benefits</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                  </ul>
                </div>

                <div class="footer-links">
                  <h4>Contact Us</h4>
                  <p>
                    3455 Midvale Ave <br>
                    Philadelphia, PA 19129<br>
                    United States <br>
                    <strong>Phone:</strong> +1 (610) 597-5353<br>
                    <strong>Email:</strong> support@getinternal.co<br>
                  </p>
                </div>

                <div class="social-links">
                  <a href="https://twitter.com/InternalHQ" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/InternalHQ/" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.linkedin.com//company/internal-psych" class="linkedin"><i
                      class="fa fa-linkedin"></i></a>
                </div>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">

              <h4>Send us a message</h4>
              <p>Contact us with your feedback and questions - We respond within 24 hours!</p>
              <form action="/" name="contact" method="POST" data-netlify="true" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                    data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required"
                    data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>

          </div>



        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Internal Inc</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#header" class="back-to-top"><i class="fa fa-chevron-up"></i></a>