<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <% include partials/headScript %>
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <% include partials/menu %>

  <main id="main">

    <!--==========================
      Privacy
    ============================-->
    <section id="clients" class="wow fadeInUp">
        <div class="container">
  
          <header class="section-header" style="text-align: center;">
            <h3>Privacy Policy</h3>
            <h4>07/01/2019</h4>
          </header>
          <br>
          <h2 id="applicability-of-this-privacy-policy">Applicability of this Privacy Policy</h2>

									<p>This Privacy Policy applies to Internal&rsquo;s online tool, including the associated Internal mobile, desktop, and Slack applications (collectively, the <strong>&ldquo;Services&rdquo;</strong>), GetInternal.co and other Internal websites (collectively, the <strong>&ldquo;Websites&rdquo;</strong>) and other interactions (e.g., customer service inquiries, subscription reports, etc.) you may have with Internal. If you do not agree with the terms, do not access or use the Services, Websites or any other aspect of Internal&rsquo;s business.</p>

									<p>This Privacy Policy does not apply to any third party applications or software that integrate with the Services through the Internal tool (<strong>&ldquo;Third Party Services&rdquo;</strong>), or any other third party products, services or businesses. In addition, a separate agreement governs delivery, access and use of the Services (the <strong>&ldquo;Customer Agreement&rdquo;</strong>), including the processing of any messages, files or other content submitted through Services accounts (collectively, <strong>&ldquo;Customer Data&rdquo;</strong>). The organization (e.g., your employer or another entity or person) that entered into the Customer Agreement (<strong>&ldquo;Customer&rdquo;</strong>) controls their instance of the Services (their <strong>&ldquo;Reports&rdquo;</strong> or <strong>&ldquo;Surveys/Logs/Questionnaires&rdquo;</strong> or Other) and any associated Customer Data. If you have any questions about specific Report settings and privacy practices, please contact the Customer whose instance you use. If you have received an invitation to carry out logs in a Slack workspace but have not yet been informed of the Services, you should request assistance from the Customer that sent the invitation.</p>

									<h2 id="information-we-collect-and-receive">Information We Collect And Receive</h2>

									<p>Internal may collect and receive Customer Data, and other information and data (<strong>&ldquo;Other Information&rdquo;</strong>) in a variety of ways:</p>

									<ul>
										<li><strong>Customer Data</strong>. Customers or individuals invited to carry out Services by a Customer (<strong>&ldquo;Authorized Users&rdquo;</strong>) routinely submit Customer Data to Internal when using the Services.</li>
										<li><strong>Personal Data</strong>. Internal is primarily a Data Processor for Data provided by the Customer (Data Controller). In order to use Internal Services, Personal Data provided by the Customer directly or indirectly (invitation to access Personal Data from a Workspace, or other) are accessible by Internal in order to generate and/or operate Services. Authorized Users may provide Internal with their Personal Data directly at instances, for example when they carry out logs or request results reports or in any way communicate with Internal. Internal will not collect or use any sensitive personal data unless Internal has received an express consent regarding the specific data.</li>

										<li><p><strong>Other Information</strong>. Internal also collects, generates and/or receives Other Information:</p>

											<ol>
												<li>Log, Workspace, and Account Information. Teams use Internal services and its capabilities to achieve efficient collaboration, better results and communication among members. To use, create or update a reports, you or your Customer (e.g., your employer) supply Internal with information that may include an email address, phone number, password, domain and/or similar account details. In addition, Customers provide Internal (or its payment processors) with billing details such as credit card information, banking information and/or a billing address and/or email address.</li>

												<li><p>Usage Information.</p>

													<ul>
														<li><p><em>Services Metadata</em>. When an Authorized User interacts with the Services, metadata is generated that provides additional context about the way Authorized Users work. For example, Internal may log the Services, channels, people, features, content and links you interact with, the types of files shared and what Third Party Services are used (if any).</p></li>

														<li><p><em>Log data</em>. As with most websites and technology services delivered over the Internet, our servers automatically collect information when you access or use our Websites or Services and record it in log files. This log data may include the Internet Protocol (IP) address, the address of the web page visited before using the Website or Services, browser type and settings, the date and time the Services were used, information about browser configuration and plugins, language preferences and cookie data.</p></li>

														<li><p><em>Report data</em>. When you or Customer participates and/or generates a questionnaire, Internal collects all supplied or relative information in view to produce and supply you and/or customer with results in form of a Report. Reports are archived and are retrievable by Customer. Reports may also be used for research, statistical purposes in order to improve Internal efficiency, update our App, as well as feedback in order to create and launch marketing campaigns.</p></li>

														<li><p><em>Device information</em>. Internal may collect information about devices accessing the Services, including type of device, what operating system is used, device settings, unique device identifiers, and crash data. Whether we collect some or all of this Other Information often depends on the type of device used and its settings.</p></li>

														<li><p><em>Location information</em>. We may receive information from you, your Customer and other third-parties that helps us approximate your location. We may, for example, use a business address submitted by your employer, or an IP address received from your browser or device to determine approximate location in order to inline our Services with your current time-zone. Internal may also collect location information from devices in accordance with the consent process provided by your device.</p></li>
													</ul></li>

													<li><p>Cookie Information. Internal uses cookies and similar technologies in our Websites and Services that help us collect Other Information. The Websites and Services may also include cookies and similar tracking technologies of third parties, which may collect Other Information about you via the Websites and Services and across other websites and online services. You may also opt out of “third party cookies” by following the instructions provided in the Cookies Policy particulars before consenting to our use of Cookies when you visit our Websites and Services. If you have any questions about our Cookie Policy, you may contact us at <a href="mailto:support@getinternal.co">support@getinternal.co</a>.</p></li>

													<li><p>We use <a href="https://www.hotjar.com">Hotjar</a> in order to better understand our users’ needs and to optimize this service and experience. Hotjar is a technology service that helps us better  understand our users experience (e.g. how much time they spend on which pages, which links they choose to click, what users do and don’t like, etc.) and this enables us to build and maintain our service with user feedback. Hotjar uses cookies and other technologies to collect data on our users’ behavior and their devices (in particular device&rsquo;s IP address (captured and stored only in anonymized form), device screen size, device type (unique device identifiers), browser information, geographic location (country only), preferred language used to display our website). Hotjar stores this information in a pseudonymized user profile. Neither Hotjar nor we will ever use this information to identify individual users or to match it with further data on an individual user. For further details, please see Hotjar’s privacy policy by clicking on this <a href="https://www.hotjar.com/legal/policies/privacy">link</a>. You can opt-out to the creation of a user profile, Hotjar’s storing of data about your usage of our site and Hotjar’s use of tracking cookies on other websites by following this <a href="https://www.hotjar.com/legal/compliance/opt-out">opt-out</a> link.</p></li>

													<li><p>Third Party Services. Typically, Third Party Services are software that integrates with our Services, and Customer can permit its Authorized Users to enable and disable certain integrations, while other (e.g. invoicing, billing, payments’ integrations) are required for the operation of Internal, therefore Customer or Authorized Users are required to use if they intend to use Internal. Once enabled, the provider of a Third Party Service may share certain information with Internal. Authorized Users should check the privacy settings and notices in these Third Party Services to understand what data may be disclosed to Internal. When a Third Party Service is enabled, Internal is authorized to connect and access Other Information made available to Internal in accordance with our agreement with the Third Party Provider. We do not, however, receive or store passwords or means of payment/ transaction details (for example credit-card numbers) for any of these Third Party Services when connecting them to the Services.</p></li>

													<li><p>Contact Information. In accordance with the consent process provided by your device, any information that an Authorized User chooses to import may be collected when using the Services.</p></li>

													<li><p>Third Party Data. Internal may receive data as stated in IV above, as well as about organizations, industries, Website visitors, marketing campaigns and other matters related to our business from parent corporation(s), affiliates and subsidiaries, our partners or others that we use to make our own information better or more useful. This data may be combined with Other Information we collect and might include aggregate level data, such as which IP addresses correspond to zip codes or countries. Or it might be more specific: for example, how well an online marketing or email campaign performed.</p></li>

													<li><p>Additional Information Provided to Internal. We receive Other Information when submitted to our Websites or if you request support, interact with our social media accounts or otherwise communicate with Internal.</p></li>
												</ol></li>
											</ul>

											<p>Generally, no one is under a statutory or contractual obligation to provide any Customer Data or Other Information (collectively, <strong>“Information”</strong>). However, certain Information is collected automatically and, if some Information, such as setup details, is not provided, we may be unable to provide the Services.</p>

											<h2 id="how-we-use-information">How We Use Information</h2>

											<p>Customer Data will be used by Internal in accordance with Customer’s instructions, including any applicable terms in the Customer Agreement and Customer’s use of Services functionality, and as required by applicable law. Internal is a processor of Customer Data and Customer is the controller. Customer may, for example, use the Services to grant and remove access to an Authorized User, assign roles and configure settings, access, modify, export, share and remove Customer Data and otherwise apply its policies to the Services.</p>

											<p>Internal uses Other Information in furtherance of our legitimate interests in operating our Services, Websites and business. More specifically, Internal uses Other Information:</p>

											<ul>
												<li><strong>To provide, update, maintain and protect our Services, Websites and business.</strong> This includes use of Other Information to support delivery of the Services under a Customer Agreement, prevent or address service errors, security or technical issues, analyze and monitor usage, trends and other activities or at an Authorized User’s request.</li>
												<li><strong>As required by applicable law, legal process or regulation.</strong></li>
												<li><strong>To communicate with you by responding to your requests, comments and questions.</strong> If you contact us, we may use your Other Information to respond.</li>
												<li><strong>To develop and provide search, learning and productivity tools and additional features.</strong> Internal tries to make the Services as useful as possible for Customers and Authorized Users. For example, we may improve configuration functionality by using Other Information to help determine and rank the relevance of content, series and hierarchy of questions to an Authorized User, make Services suggestions based on historical use and predictive models, identify organizational trends and insights, to customize a Services experience, create new productivity features and products and apply machine learning capabilities in view to further improve and integrate Internal Reports.</li>
												<li><strong>To send emails and other communications.</strong> We may send you service, technical and other administrative emails, messages and other types of communications. We may also contact you to inform you about changes in our Services, our Services offerings, and important Services-related notices, such as security and fraud notices, update policies, terms of use or requests for consent. These communications are considered part of the Services and you may not opt out of them. In addition, we sometimes send emails about new product features, promotional communications or other news about Internal. These are marketing messages so you can control whether you receive them and you can unsubscribe from such service anytime.</li>
												<li><strong>For billing, account management and other administrative matters.</strong> Internal may need to contact you for invoicing, account management and similar reasons and we use account data to administer accounts and keep track of billing and payments. Such data and information will be furthermore retained and used as may be required by applicable law.</li>
												<li><strong>To investigate and help prevent security issues and abuse.</strong></li>
												<li><strong>To provide Internal Results Reports.</strong></li>
											</ul>

											<p>If Information is aggregated or de-identified so it is no longer reasonably associated with an identified or identifiable natural person, Internal may use it for any business purpose. To the extent Information is associated with an identified or identifiable natural person and is protected as personal data under applicable data protection law, it is referred to in this Privacy Policy as “Personal Data&rdquo;.</p>

											<h2 id="data-retention">Data Retention</h2>

											<p>Internal will retain Customer Data in accordance with a Customer’s instructions, including any applicable terms in the Customer Agreement and Customer’s use of Services functionality, and as required by applicable law. Depending on the Services plan, Customer may be able to customize its retention settings and apply those customized settings. The deletion of Customer Data and other use of the Services by Customer may result in the deletion and/or de-identification of certain associated Other Information. Internal may retain Other Information pertaining to you for as long as necessary for the purposes described in this Privacy Policy. This may include keeping your Other Information after you have deactivated your account for the period of time needed for Internal to pursue legitimate business interests, conduct audits, comply with (and demonstrate compliance with) legal obligations, resolve disputes, enforce our agreements, archiving, statistical or research purposes.</p>

											<h2 id="how-we-share-and-disclose-information">How We Share And Disclose Information</h2>

											<p>This section describes how Internal may share and disclose Information. Customers determine their own policies and practices for the sharing and disclosure of Information, and Internal does not control how they or any other third parties choose to share or disclose Information. Furthermore, as Logs/Quizzes/Questionnaires, Reports or Data input may be visible or accessible by Authorized Users, Internal does not control how they or any other parties chose to share or disclose such Information.</p>

											<ul>
												<li><strong>Customer’s Instructions</strong>. Internal may share and disclose Customer Data in accordance with a Customer’s instructions, including any applicable terms in the Customer Agreement and Customer’s use of Services functionality, and in compliance with applicable law and legal process.</li>
												<li><strong>Displaying the Services</strong>. When an Authorized User submits Other Information, it may be displayed to other Authorized Users. Please consult the FAQ for more information on Services functionality.</li>
												<li><strong>Collaborating with Others</strong>. The Services provide different ways for Authorized Users to collaborate. Other Information, such as an Authorized User’s profile Information, may be shared, subject to the policies and practices.</li>
												<li><strong>Customer Access</strong>. Owners, administrators, Authorized Users and other Customer representatives and personnel may be able to access, modify or restrict access to Other Information. This may include, for example, your employer using Service features to export activity logs and reports.</li>
												<li><strong>Third Party Service Providers and Partners</strong>. We may engage third party companies or individuals as service providers or business partners to process Other Information and support our business. These third parties may, for example, provide virtual computing and storage services. Additional information about the sub-processors we use to support delivery of our Services is set forth at Internal Sub-processors.</li>
												<li><strong>Third Party Services</strong>. Customer may enable or permit Authorized Users to enable Third Party Services. When enabled, Internal may share Other Information with Third Party Services. Third Party Services are not owned or controlled by Internal and third parties that have been granted access to Other Information may have their own policies and practices for its collection and use. Please check the privacy settings and notices in these Third Party Services or contact the provider for any questions. If required by our policies or law, we will ask for your consent and/or the Customer’s before engaging any such service.</li>
												<li><strong>Corporate Affiliates</strong>. Internal may share Other Information with its corporate affiliates, parents and/or subsidiaries.</li>
											</ul>

											<p>During a Change to Internal’s Business. If Internal engages in a merger, acquisition, bankruptcy, dissolution, reorganization, sale of some or all of Internal’s assets or stock, financing, public offering of securities, acquisition of all or a portion of our business, a similar transaction or proceeding, or steps in contemplation of such activities (e.g. due diligence), some or all Other Information may be shared or transferred, subject to standard confidentiality arrangements.
												Aggregated or De-identified Data. We may disclose or use aggregated or de-identified Other Information for any purpose. For example, we may share aggregated or de-identified Other Information with prospects or partners for business or research purposes, such as telling a prospective Internal customer the average amount of time spent within a typical questionnaire.
												To Comply with Laws, enforce our rights, prevent fraud, and for safety. If we receive a request for information, we may disclose Other Information if we reasonably believe disclosure is in accordance with or required by any applicable law, regulation or legal process. We cooperate with law enforcement authorities, as well as with other third parties, to enforce laws, intellectual property rights and to prevent fraud. In response to a verified request by law enforcement or other government officials relating to a criminal investigation or alleged illegal activity, we can, and you authorize us to, disclose your name, e-mail address and website use history, with or without a subpoena. Without limiting the above, we will not disclose your Information to any law enforcement or other governmental officials without a subpoena or court order, except when we believe in good faith that the disclosure of information is necessary to protect our rights, enforce our policies, respond to claims that your use of our Services violates Internal’s policies or rights or others, or protect anyone’s rights, property or safety, enforce contracts or policies.
												With Consent. Internal may share Other Information with third parties when we have consent to do so.</p>

												<h2 id="security">Security</h2>

												<p>Internal takes security of data very seriously. Internal works hard to protect all and Other Information you provide from loss, misuse, and unauthorized access or disclosure. To learn more about current practices and policies regarding security and confidentiality of the Services, please see our Security Practices. Given the nature of communications and information processing technology, Internal cannot guarantee that Information, during transmission through the Internet or while stored on our systems or otherwise in our care, will be absolutely safe from intrusion by others.</p>

												<h2 id="age-limitations">Age Limitations</h2>

												<p>To the extent prohibited by applicable law, Internal does not allow use of our Services and Websites by anyone younger than 16 years old. If you learn that anyone younger than 16 has unlawfully provided us with personal data, please contact us and we will take steps to delete such information.</p>

												<h2 id="changes-to-this-privacy-policy">Changes to this Privacy Policy</h2>

												<p>Internal may change this Privacy Policy from time to time. Laws, regulations and industry standards evolve, which may make those changes necessary, or we may make changes to our business. We will post the changes to this page and encourage you to review our Privacy Policy to stay informed. If we make changes that materially alter your privacy rights, Internal will provide additional notice, such as via email or through the Services. If you disagree with the changes to this Privacy Policy, you should deactivate your Services account. Contact the Customer if you wish to request the removal of Personal Data under their control.</p>

												<h2 id="identifying-the-data-controller-and-processor">Identifying The Data Controller And Processor</h2>

												<p>Data protection law in certain jurisdictions differentiates between the “controller” and “processor” of information. In general, Customer is the controller of Customer Data. In general, Internal is the processor of Customer Data and the controller of Other Information.</p>

												<h2 id="your-rights">Your Rights</h2>

												<p>Individuals located in certain countries, including the European Economic Area, have certain statutory rights in relation to their personal data. Subject to any exemptions provided by law, you may have the right to request access to Information, as well as to seek to update, delete or correct this Information. As your personal data is furnished by your company, we urge you to also contact your company or Team Leader (“Customer”) for additional access and assistance.</p>

												<p>To the extent that Internal’s processing of your Personal Data is subject to the General Data Protection Regulation, Internal relies on its legitimate interests, described above, to process your data. Internal may also process Other Information that constitutes your Personal Data for direct marketing purposes and you have a right to object to or opt-out from Internal’s use of your Personal Data for this purpose at any time, by contacting Internal at <a href="mailto:support@getinternal.co">support@getinternal.co</a>. In this context, Internal may refuse to proceed with any action relative to your Personal Data stored for reasons pertaining to its legal obligations, public safety as well as any other legal obligation to keep records and/or archives unaltered. Internal may though keep the Information you suggest in correction or alteration in a separate file, attachment or note connected with the Other Information collected. Internal may also legally refrain from responding to any requests if so required by law or instructed by a law enforcement agency or so ordered by a court of law.</p>

												<h2 id="contacting-Internal">Contacting Internal</h2>

												<p>Please also feel free to contact Internal if you have any questions about this Privacy Policy or Internal’s practices, or if you are seeking to exercise any of your statutory rights. We urge you to use our client support/ communications app. Alternatively, you may contact us at <a href="mailto:support@getinternal.co">support@getinternal.co</a> or at our mailing address below:</p>

												<p>Internal<br />
													3455 Midvale Ave,<br />
													Philadelphia, PA 19119</p>

        </div>
      </section><!-- #clients -->

    
  </main>
  <!--==========================
    Footer
  ============================-->
  <% include partials/footer %>

  <a href="#header" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <% include partials/footScript %>

</body>
</html>
