<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <% include partials/headScript %>
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <% include partials/menu %>

  <main id="main">

    <section id="clients" class="wow fadeInUp">
        <div class="container">
  
          <header class="section-header" style="text-align: center;">
            <h3>Terms of Use</h3>
            <h4>07/01/2019</h4>
          </header>
          <br>
          <h3 id="user-terms-of-service">User Terms of Service</h3>

							    <p>These User Terms of Service (the  <strong>&quot;User Terms&quot;</strong> ) govern your access and use of our online workplace productivity tools and app (the  <strong>&quot;Services&quot;</strong> ). Even though you are carrying out logs and reporting results (the &quot; <strong>logs</strong>&quot;) in existing Slack workspaces, these User Terms apply to you as a user of the Services.</p>

							    <p><strong>These User Terms are Legally Binding</strong></p>

							    <p>These User Terms are a legally binding contract between you and us Internal, creator- developer- owner- supplier of Internal Slackbot. As part of these User Terms, you agree to comply with the most recent version of our
							    Acceptable Use Policy, which is incorporated by reference into these User Terms. If you access or use the Services, or continue accessing or using the Services after being notified of a change to the User Terms or the
							    Acceptable Use Policy, you confirm that you have read, understand and agree to be bound by the User Terms and the
							    Acceptable Use Policy. &quot;We&quot;, &quot;our&quot; and &quot;us&quot; refers to Internal.</p>

							    <p><strong>Customer&#39;s Choices and Instructions</strong></p>

							    <p><strong>You are an Authorized User on a Standup Meeting Controlled by a &quot;Customer&quot;</strong></p>

							    <p>An organization or other third party that we refer to in these User Terms as  <strong>&quot;Customer&quot;</strong> has invited you to carry out Internal logs. If you are carrying out Internal logs in your employer&#39;s Slack workspace, for example, Customer is your employer.</p>

							    <p>What This Means for You—and for Us</p>

							    <p>Customer has separately agreed to our
							      Customer Terms of Service or entered into a written agreement with us (in either case, the  <strong>&quot;Contract&quot;</strong> ) that permitted Customer to create and configure Internal so that you and others could carry out logs and report results (each invitee granted access to the Services, including you, is an <strong>&quot;Authorized User&quot;</strong> ). The Contract contains our commitment to deliver the Services to Customer, who may then invite Authorized Users to join its Slack workspace. When an Authorized User (including, you) submits content or information to the Services, such as log responses ( <strong>&quot;Customer Data&quot;</strong>), you acknowledge and agree that the Customer Data is owned by Customer and the Contract provides Customer with many choices and control over that Customer Data. For example, Customer may provision or deprovision access to the Services, enable or disable integrations, manage permissions, retention and export settings, transfer or assign or consolidate logs, and these choices and instructions may result in the access, use, disclosure, modification or deletion of certain or all Customer Data.</p>

							    <p>The Relationship Between You, Customer and Us</p>

							    <p>AS BETWEEN US AND CUSTOMER, YOU AGREE THAT IT IS SOLELY CUSTOMER&#39;S RESPONSIBILITY TO (A) INFORM YOU AND ANY AUTHORIZED USERS OF ANY RELEVANT CUSTOMER POLICIES AND PRACTICES AND ANY SETTINGS THAT MAY IMPACT THE PROCESSING OF CUSTOMER DATA; (B) OBTAIN ANY RIGHTS, PERMISSIONS OR CONSENTS FROM YOU AND ANY AUTHORIZED USERS THAT ARE NECESSARY FOR THE LAWFUL USE OF CUSTOMER DATA AND THE OPERATION OF THE SERVICES; &copy; ENSURE THAT THE TRANSFER AND PROCESSING OF CUSTOMER DATA UNDER THE CONTRACT IS LAWFUL; AND (D) RESPOND TO AND RESOLVE ANY DISPUTE WITH YOU AND ANY AUTHORIZED USER RELATING TO OR BASED ON CUSTOMER DATA, THE SERVICES OR CUSTOMER&#39;S FAILURE TO FULFILL THESE OBLIGATIONS. Internal MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, TO YOU RELATING TO THE SERVICES, WHICH ARE PROVIDED TO YOU ON AN &quot;AS IS&quot; AND &quot; AS AVAILABLE&quot; BASIS.</p>

							    <p><strong>General Rules</strong></p>

							    <p>You Must be Over the Legal Age</p>

							    <p>To the extent prohibited by applicable law, the Services are not intended for and should not be used by anyone under the age of eighteen. You represent that you are over the legal age and are the intended recipient of Customer&#39;s invitation to the Services. You may not access or use the Services for any purpose if either of the representations in the preceding sentence is not true. Without limiting the foregoing, you must be of legal working age.</p>

							    <p>Abide by the Rules</p>

							    <p>To help ensure a safe and productive work environment, all Authorized Users must remain vigilant in reporting inappropriate or false content to Customer and us (The &quot;Rules&quot;).</p>

							    <p>Access to Services</p>

							    <p>These User Terms remain effective until Customer&#39;s subscription for you expires or terminates, or your access to the Services has been terminated by Customer or us. Please contact Customer if you at any time or for any reason wish to cease use of Internal, including due to a disagreement with any updates to these User Terms or the
							          Privacy Policy.</p>

							    <p>Limitation of Liability</p>

							    <p>If we believe that there is a violation of the Contract, User Terms, or any of our other policies that can simply be remedied by Customer&#39;s removal of certain Customer Data or taking other action, we will, in most cases, ask Customer to take action rather than intervene. We may directly step in and take what we determine to be appropriate action (including disabling your account) if Customer does not take appropriate action or we believe there is a credible risk of harm to us, the Services, Authorized Users, or any third parties. IN NO EVENT WILL YOU OR WE HAVE ANY LIABILITY TO THE OTHER FOR ANY LOST PROFITS OR REVENUES OR FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, COVER OR PUNITIVE DAMAGES HOWEVER CAUSED, WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY, AND WHETHER OR NOT THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. UNLESS YOU ARE ALSO A CUSTOMER (AND WITHOUT LIMITATION TO OUR RIGHTS AND REMEDIES UNDER THE CONTRACT), YOU WILL HAVE NO FINANCIAL LIABILITY TO US FOR A BREACH OF THESE USER TERMS. OUR MAXIMUM AGGREGATE LIABILITY TO YOU FOR ANY BREACH OF THE USER TERMS IS ONE HUNDRED DOLLARS ($100) IN THE AGGREGATE. THE FOREGOING DISCLAIMERS WILL NOT APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW AND DO NOT LIMIT EITHER PARTY&#39;S RIGHT TO SEEK AND OBTAIN EQUITABLE RELIEF.</p>

							    <p>Application of Consumer Law</p>

							    <p>Internal is a workplace- emotional monitoring tool intended for use by businesses and organizations and not for consumer purposes. To the maximum extent permitted by law, you hereby acknowledge and agree that consumer laws do not apply. If however any consumer laws (e.g., in Australia, the Competition and Consumer Act 2010 (Cth)) do apply and cannot otherwise be lawfully excluded, nothing in these User Terms will restrict, exclude or modify any statutory warranties, guarantees, rights or remedies you have, and our liability is limited (at our option) to the replacement, repair or resupply of the Services or the pro-rata refund to Customer of pre-paid fees for your subscription covering the remainder of the term.</p>

							    <p>Survival</p>

							    <p>The sections titled &quot;The Relationship Between You, Customer, and Us,&quot; &quot;Limitation of Liability,&quot; and &quot;Survival,&quot; and all of the provisions under the general heading &quot;General Provisions&quot; will survive any termination or expiration of the User Terms.</p>

							    <p><strong>General Provisions</strong></p>

							    <p>Email and Messages</p>

							    <p>Except as otherwise set forth herein, all notices under the User Terms will be by email, although we may instead choose to provide notice to Authorized Users through the Services (e.g., a Slack notification). Notices to Internal should be sent to <a href="mailto:support@getinternal.co">support@getinternal.co</a> , except for legal notices, which must be sent to <a href="mailto:ian@getinternal.co">ian@getinternal.co</a>.  A notice will be deemed to have been duly given (a) the day after it is sent, in the case of a notice sent through email; and (b) the same day, in the case of a notice sent through the Services. Notices under the Contract will be delivered solely to Customer in accordance with the terms of that agreement.</p>

							    <p>Privacy Policy</p>

							    <p>Please review our Privacy Policy for more information on how we collect and use data relating to the use and performance of our products.</p>

							    <p>Modifications</p>

							    <p>As our business evolves, we may change these User Terms or the
							      If we make a material change to the User Terms or the Rules, we will provide you with reasonable notice prior to the change taking effect either by emailing the email address associated with your account or by messaging you through the Services. You can review the most current version of the User Terms at any time by visiting this page, and by visiting the following for the most current versions of the other pages that are referenced in these User Terms:
							      Privacy Policy. Any material revisions to these User Terms will become effective on the date set forth in our notice, and all other changes will become effective on the date we publish the change. If you use the Services after the effective date of any changes, that use will constitute your acceptance of the revised terms and conditions.</p>

							    <p>Waiver</p>

							    <p>No failure or delay by either party in exercising any right under the User Terms will constitute a waiver of that right. No waiver under the User Terms will be effective unless made in writing and signed by an authorized representative of the party being deemed to have granted the waiver.</p>

							    <p>Severability</p>

							    <p>The User Terms, including the
							      Rules, will be enforced to the fullest extent permitted under applicable law. If any provision of the User Terms is held by a court of competent jurisdiction to be contrary to law, the provision will be modified by the court and interpreted so as best to accomplish the objectives of the original provision to the fullest extent permitted by law, and the remaining provisions of the User Terms will remain in effect.</p>

							    <p>Assignment</p>

							    <p>You may not assign any of your rights or delegate your obligations under these User Terms, including the
							      Rules, whether by operation of law or otherwise, without the prior written consent of us (not to be unreasonably withheld). We may assign these User Terms in their entirety (including all terms and conditions incorporated herein by reference), without your consent, to a corporate affiliate or in connection with a merger, acquisition, corporate reorganization, or sale of all or substantially all of our assets.</p>

							    <p>Governing Law; Venue; Waiver of Jury Trial; Fees</p>

							    <p>The User Terms, including the
							      Rules, and any disputes arising out of or related hereto, will be governed exclusively by the same applicable governing law of the Contract, without regard to conflicts of laws rules or the United Nations Convention on the International Sale of Goods. The courts located in the applicable venue of the Contract will have exclusive jurisdiction to adjudicate any dispute arising out of or relating to the User Terms, including the
							      Rules, or its formation, interpretation or enforcement.</p>

							    <p>Each party hereby consents and submits to the exclusive jurisdiction of such courts. Each party also hereby waives any right to jury trial in connection with any action or litigation in any way arising out of or related to the User Terms. In any action or proceeding to enforce rights under the User Terms, the prevailing party will be entitled to recover its reasonable costs and attorney&#39;s fees.</p>

							    <p>Entire Agreement</p>

							    <p>The User Terms, including any terms incorporated by reference into the User Terms, constitute the entire agreement between you and us and supersede all prior and contemporaneous agreements, proposals or representations, written or oral, concerning its subject matter. To the extent of any conflict or inconsistency between the provisions in these User Terms and any pages referenced in these User Terms, the terms of these User Terms will first prevail; provided, however, that if there is a conflict or inconsistency between the Contract and the User Terms, the terms of the Contract will first prevail, followed by the provisions in these User Terms, and then followed by the pages referenced in these User Terms (e.g., the Privacy Policy). Customer will be responsible for notifying Authorized Users of those conflicts or inconsistencies and until such time the terms set forth herein will be binding.</p>

							    <p>Contacting Internal</p>

							    <p>If you have any questions about Internal&#39;s User Terms of Service, you may contact us at <a href="mailto:support@getinternal.co">support@getinternal.co</a> or by using the messaging tool on our website.</p>

        </div>
      </section><!-- #clients -->

    
  </main>
  <!--==========================
    Footer
  ============================-->
  <% include partials/footer %>

  <a href="#header" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <% include partials/footScript %>

</body>
</html>
